workflows/foronum_news_pipeline.json
{
  "name": "Foronum News Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 'cache_ready' AS phase_status"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Get Foronum Catalog",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        250,
        300
      ],
      "credentials": {
        "mySql": {
          "id": "ayDTnm75zHVOkDH0",
          "name": "foronum_n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM fn_news_sources WHERE is_active = 1"
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Get Active Sources",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        600,
        300
      ],
      "credentials": {
        "mySql": {
          "id": "ayDTnm75zHVOkDH0",
          "name": "foronum_n8n"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Loop Sources",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-src-type",
              "leftValue": "={{ $json.scrape_type }}",
              "rightValue": "rss",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Check Source Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.feed_url }}"
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Read RSS Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        1350,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const sourceId = $('Loop Sources').first().json.id;\nconst items = $input.all();\nreturn items.map(item => ({\n  json: {\n    source_id: sourceId,\n    title: item.json.title || '',\n    url: item.json.link || '',\n    published_at: item.json.isoDate || item.json.pubDate || null,\n    summary: (item.json.contentSnippet || item.json.content || '').substring(0, 500)\n  }\n}));"
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Normalize RSS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        100
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.base_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Fetch HTML Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1350,
        500
      ]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "h2 a, h3 a, .title a",
              "returnValue": "text"
            },
            {
              "key": "link",
              "cssSelector": "h2 a, h3 a, .title a",
              "returnValue": "attribute",
              "attribute": "href"
            },
            {
              "key": "summary",
              "cssSelector": "p, .summary, .excerpt",
              "returnValue": "text"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Extract HTML",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1600,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const sourceId = $('Loop Sources').first().json.id;\nconst baseUrl = $('Loop Sources').first().json.base_url || '';\nconst items = $input.all();\nreturn items.map(item => {\n  let url = item.json.link || '';\n  if (url && !url.startsWith('http')) {\n    try { url = new URL(url, baseUrl).href; } catch(e) { url = baseUrl + url; }\n  }\n  return { json: { source_id: sourceId, title: item.json.title || '', url: url, published_at: null, summary: (item.json.summary || '').substring(0, 500) } };\n});"
      },
      "id": "a1b2c3d4-0010-4000-8000-000000000010",
      "name": "Normalize HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1850,
        500
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "a1b2c3d4-0011-4000-8000-000000000011",
      "name": "Merge Discovery",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1850,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "function esc(val) {\n  if (val === null || val === undefined) return 'NULL';\n  return \"'\" + String(val).replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"\\\\'\") + \"'\";\n}\nconst items = $input.all();\nfor (const item of items) {\n  const j = item.json;\n  item.json.sql_query = \"INSERT IGNORE INTO fn_news (source_id, title, url, url_hash, published_at, summary, status, created_at) VALUES (\"\n    + j.source_id + \", \"\n    + esc(j.title) + \", \"\n    + esc(j.url) + \", \"\n    + \"SHA2(\" + esc(j.url) + \", 256), \"\n    + (j.published_at ? esc(j.published_at) : \"NULL\") + \", \"\n    + esc(j.summary) + \", \"\n    + \"'discovered', NOW())\";\n}\nreturn items;"
      },
      "id": "a1b2c3d4-0012-4000-8000-000000000012",
      "name": "Build Insert Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2050,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql_query }}"
      },
      "id": "a1b2c3d4-0013-4000-8000-000000000013",
      "name": "Insert News",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2050,
        100
      ],
      "credentials": {
        "mySql": {
          "id": "ayDTnm75zHVOkDH0",
          "name": "foronum_n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ 'UPDATE fn_news_sources SET last_scraped_at = NOW() WHERE id = ' + $('Loop Sources').first().json.id }}"
      },
      "id": "a1b2c3d4-0014-4000-8000-000000000014",
      "name": "Update Source Time",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2200,
        100
      ],
      "credentials": {
        "mySql": {
          "id": "ayDTnm75zHVOkDH0",
          "name": "foronum_n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM fn_news WHERE status = 'discovered' ORDER BY created_at ASC LIMIT 10"
      },
      "id": "a1b2c3d4-0015-4000-8000-000000000015",
      "name": "Get Discovered News",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2400,
        300
      ],
      "credentials": {
        "mySql": {
          "id": "ayDTnm75zHVOkDH0",
          "name": "foronum_n8n"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-news",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0016-4000-8000-000000000016",
      "name": "Has News?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2600,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1b2c3d4-0017-4000-8000-000000000017",
      "name": "Loop News",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2800,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0018-4000-8000-000000000018",
      "name": "Fetch Article Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3000,
        200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "function esc(val) {\n  if (val === null || val === undefined) return 'NULL';\n  return \"'\" + String(val).replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"\\\\'\") + \"'\";\n}\nconst item = $input.first();\nconst prev = $('Loop News').first().json;\nlet html = item.json.data || '';\nhtml = html.replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '');\nhtml = html.replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '');\nhtml = html.replace(/<nav[^>]*>[\\s\\S]*?<\\/nav>/gi, '');\nhtml = html.replace(/<header[^>]*>[\\s\\S]*?<\\/header>/gi, '');\nhtml = html.replace(/<footer[^>]*>[\\s\\S]*?<\\/footer>/gi, '');\nlet text = html.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim().substring(0, 5000);\n\nconst prompt = `You are a numismatic news analyst for Foronum. Analyze this article and extract entities + classify it.\n\nNEWS TITLE: ${prev.title}\nNEWS DATE: ${prev.published_at || 'Unknown'}\nARTICLE TEXT:\n${text}\n\nRULES:\n- New coin/banknote issues: score 80-100\n- Auction results, mint announcements: 50-79\n- Generic financial news: 0-39\n\nOUTPUT (strict JSON only, no markdown):\n{\n  \"entities\": {\"country\":null,\"denomination\":null,\"mint\":null,\"piece_type\":null,\"series\":null,\"year_referenced\":null,\"metal\":null,\"event_type\":null},\n  \"all_entities\": [],\n  \"score\": 0,\n  \"classification\": \"high|medium|low|reject\",\n  \"reasoning\": \"\",\n  \"seo_potential\": 0,\n  \"suggested_angle\": \"\"\n}`;\n\nconst htmlUpdateQuery = \"UPDATE fn_news SET raw_html = \" + esc(item.json.data || '') + \", updated_at = NOW() WHERE id = \" + prev.id;\n\nreturn [{ json: { ...prev, clean_text: text, llm_prompt: prompt, html_update_query: htmlUpdateQuery } }];"
      },
      "id": "a1b2c3d4-0019-4000-8000-000000000019",
      "name": "Clean & Prepare LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.html_update_query }}"
      },
      "id": "a1b2c3d4-0020-4000-8000-000000000020",
      "name": "Store Raw HTML",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3400,
        0
      ],
      "credentials": {
        "mySql": {
          "id": "ayDTnm75zHVOkDH0",
          "name": "foronum_n8n"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"model\":\"gpt-4o-mini\",\"messages\":[{\"role\":\"user\",\"content\":$json.llm_prompt}],\"response_format\":{\"type\":\"json_object\"},\"temperature\":0.3}) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0021-4000-8000-000000000021",
      "name": "Call OpenAI Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3400,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "function esc(val) {\n  if (val === null || val === undefined) return 'NULL';\n  return \"'\" + String(val).replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"\\\\'\") + \"'\";\n}\nconst item = $input.first();\nconst prev = $('Clean & Prepare LLM').first().json;\nlet parsed;\ntry {\n  parsed = JSON.parse(item.json.choices[0].message.content);\n} catch(e) {\n  parsed = { score: 0, classification: 'reject', reasoning: 'Parse error', entities: {}, all_entities: [], seo_potential: 0, suggested_angle: '' };\n}\nconst e = parsed.entities || {};\nreturn [{ json: {\n  ...prev,\n  llm_score: parsed.score || 0,\n  llm_classification: parsed.classification || 'reject',\n  llm_reasoning: parsed.reasoning || '',\n  seo_potential: parsed.seo_potential || 0,\n  suggested_angle: parsed.suggested_angle || '',\n  country: e.country || null,\n  denomination: e.denomination || null,\n  mint: e.mint || null,\n  piece_type: e.piece_type || null,\n  series: e.series || null,\n  year_referenced: e.year_referenced || null,\n  metal: e.metal || null,\n  event_type: e.event_type || null,\n  entities_json: JSON.stringify(parsed.all_entities || [])\n}}];"
      },
      "id": "a1b2c3d4-0022-4000-8000-000000000022",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-score",
              "leftValue": "={{ $json.llm_score }}",
              "rightValue": 40,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0023-4000-8000-000000000023",
      "name": "Score >= 40?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3800,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "function esc(val) {\n  if (val === null || val === undefined) return 'NULL';\n  return \"'\" + String(val).replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"\\\\'\") + \"'\";\n}\nconst j = $input.first().json;\nreturn [{ json: { sql_query: \"UPDATE fn_news SET status = 'rejected', llm_score = \" + j.llm_score + \", llm_classification = \" + esc(j.llm_classification) + \", llm_reasoning = \" + esc(j.llm_reasoning) + \", entities_json = \" + esc(j.entities_json) + \", updated_at = NOW() WHERE id = \" + j.id }}];"
      },
      "id": "a1b2c3d4-0024-4000-8000-000000000024",
      "name": "Build Reject Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4000,
        500
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql_query }}"
      },
      "id": "a1b2c3d4-0025-4000-8000-000000000025",
      "name": "Reject News",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        4200,
        500
      ],
      "credentials": {
        "mySql": {
          "id": "ayDTnm75zHVOkDH0",
          "name": "foronum_n8n"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function esc(val) {\n  if (val === null || val === undefined) return \"''\";\n  return \"'\" + String(val).replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"\\\\'\") + \"'\";\n}\nconst j = $input.first().json;\nconst terms = [j.country, j.series, j.denomination, j.mint].filter(Boolean);\nif (terms.length === 0) terms.push(j.title);\nconst conditions = terms.map(t => \"LOWER(entity_name) LIKE CONCAT('%', LOWER(\" + esc(t) + \"), '%')\").join(' OR ');\nreturn [{ json: { ...j, link_query: \"SELECT * FROM fn_foronum_links WHERE is_active = 1 AND (\" + conditions + \") ORDER BY seo_priority DESC\" }}];"
      },
      "id": "a1b2c3d4-0026-4000-8000-000000000026",
      "name": "Build Link Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4000,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.link_query }}"
      },
      "id": "a1b2c3d4-0027-4000-8000-000000000027",
      "name": "Find Links",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        4200,
        200
      ],
      "credentials": {
        "mySql": {
          "id": "ayDTnm75zHVOkDH0",
          "name": "foronum_n8n"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function esc(val) {\n  if (val === null || val === undefined) return 'NULL';\n  return \"'\" + String(val).replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"\\\\'\") + \"'\";\n}\nconst prev = $('Parse Classification').first().json;\nconst links = $input.all().map(i => i.json);\nconst languages = ['es', 'en', 'fr', 'de', 'it', 'pt'];\nconst priorityOrder = ['exact_coin', 'exact_banknote', 'series', 'country', 'topic'];\nconst resolved = {};\nfor (const lang of languages) {\n  resolved[lang] = links.filter(l => l.lang === lang)\n    .sort((a, b) => {\n      const ai = priorityOrder.indexOf(a.entity_type);\n      const bi = priorityOrder.indexOf(b.entity_type);\n      if (ai !== bi) return ai - bi;\n      return (b.seo_priority || 0) - (a.seo_priority || 0);\n    }).slice(0, 4).map(l => ({ entity_type: l.entity_type, entity_name: l.entity_name, url: l.url, slug: l.slug, seo_priority: l.seo_priority }));\n}\nconst linkCount = Math.max(...Object.values(resolved).map(a => a.length), 0);\nconst resolvedJson = JSON.stringify(resolved);\n\nconst sql = \"UPDATE fn_news SET \"\n  + \"clean_text = \" + esc(prev.clean_text) + \", \"\n  + \"entities_json = \" + esc(prev.entities_json) + \", \"\n  + \"country = \" + esc(prev.country) + \", \"\n  + \"denomination = \" + esc(prev.denomination) + \", \"\n  + \"mint = \" + esc(prev.mint) + \", \"\n  + \"piece_type = \" + esc(prev.piece_type) + \", \"\n  + \"series = \" + esc(prev.series) + \", \"\n  + \"year_referenced = \" + esc(prev.year_referenced) + \", \"\n  + \"metal = \" + esc(prev.metal) + \", \"\n  + \"event_type = \" + esc(prev.event_type) + \", \"\n  + \"llm_score = \" + prev.llm_score + \", \"\n  + \"llm_classification = \" + esc(prev.llm_classification) + \", \"\n  + \"llm_reasoning = \" + esc(prev.llm_reasoning) + \", \"\n  + \"seo_potential = \" + prev.seo_potential + \", \"\n  + \"resolved_links_json = \" + esc(resolvedJson) + \", \"\n  + \"link_count = \" + linkCount + \", \"\n  + \"status = 'enriched', \"\n  + \"updated_at = NOW() WHERE id = \" + prev.id;\n\nreturn [{ json: { ...prev, resolved_links: resolved, resolved_links_json: resolvedJson, link_count: linkCount, sql_query: sql }}];"
      },
      "id": "a1b2c3d4-0028-4000-8000-000000000028",
      "name": "Build Enrich Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql_query }}"
      },
      "id": "a1b2c3d4-0029-4000-8000-000000000029",
      "name": "Enrich News",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        4600,
        200
      ],
      "credentials": {
        "mySql": {
          "id": "ayDTnm75zHVOkDH0",
          "name": "foronum_n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM fn_news WHERE status = 'enriched' ORDER BY llm_score DESC LIMIT 5"
      },
      "id": "a1b2c3d4-0030-4000-8000-000000000030",
      "name": "Get Enriched News",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        4800,
        300
      ],
      "credentials": {
        "mySql": {
          "id": "ayDTnm75zHVOkDH0",
          "name": "foronum_n8n"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-enriched",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0031-4000-8000-000000000031",
      "name": "Has Enriched?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5000,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1b2c3d4-0032-4000-8000-000000000032",
      "name": "Loop Articles",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5200,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "function esc(val) {\n  if (val === null || val === undefined) return 'NULL';\n  return \"'\" + String(val).replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"\\\\'\") + \"'\";\n}\nconst item = $input.first().json;\nconst resolvedLinks = JSON.parse(item.resolved_links_json || '{}');\nconst esLinks = (resolvedLinks.es || []).map(l => '- ' + l.entity_type + ': \"' + l.entity_name + '\" -> ' + l.url).join('\\n');\n\nconst prompt = `Eres el redactor editorial IA de Foronum (foronum.com). Escribe un articulo en ESPANOL sobre esta noticia numismatica.\n\nDIRECTRICES:\n- Tono informativo, riguroso, accesible\n- 400-800 palabras\n- Incluir 2-4 enlaces internos con anchor text natural\n- NUNCA inventes URLs. Solo usa las proporcionadas.\n- Articulo sustancialmente original\n- Sugerir imagen destacada\n\nENLACES INTERNOS PARA ESPANOL:\n${esLinks}\n\nNOTICIA:\nTitulo: ${item.title}\nFuente: ${item.url} (citar, NO enlazar)\nEntidades: ${item.entities_json || '[]'}\nResumen: ${item.summary || ''}\nTexto: ${(item.clean_text || '').substring(0, 2000)}\n\nOUTPUT (JSON estricto, sin markdown):\n{\"title\":\"max 70 chars\",\"slug\":\"url-safe\",\"excerpt\":\"150-200 chars\",\"meta_description\":\"max 160 chars\",\"body_html\":\"HTML valido\",\"anchors_used\":[{\"text\":\"\",\"url\":\"\",\"entity_type\":\"\"}],\"featured_image_suggestion\":\"\"}`;\n\nreturn [{ json: { ...item, es_prompt: prompt, resolved_links: resolvedLinks }}];"
      },
      "id": "a1b2c3d4-0033-4000-8000-000000000033",
      "name": "Prepare ES Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5400,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"model\":\"gpt-4o\",\"messages\":[{\"role\":\"user\",\"content\":$json.es_prompt}],\"response_format\":{\"type\":\"json_object\"},\"temperature\":0.7,\"max_tokens\":3000}) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0034-4000-8000-000000000034",
      "name": "Generate ES Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5600,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst prev = $('Prepare ES Prompt').first().json;\nlet esArticle;\ntry { esArticle = JSON.parse(item.choices[0].message.content); }\ncatch(e) { esArticle = {title:'Error',slug:'error',excerpt:'',meta_description:'',body_html:'<p>Error</p>',anchors_used:[],featured_image_suggestion:''}; }\nreturn [{ json: { ...prev, es_article: esArticle, all_translations: { es: esArticle } }}];"
      },
      "id": "a1b2c3d4-0035-4000-8000-000000000035",
      "name": "Parse ES Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5800,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst langNames = {en:'English',fr:'French',de:'German',it:'Italian',pt:'Portuguese'};\nreturn ['en','fr','de','it','pt'].map(lang => ({\n  json: {\n    ...item,\n    target_lang: lang,\n    target_lang_name: langNames[lang],\n    target_links: (item.resolved_links[lang] || []).map(l => '- ' + l.entity_type + ': \"' + l.entity_name + '\" -> ' + l.url).join('\\n')\n  }\n}));"
      },
      "id": "a1b2c3d4-0036-4000-8000-000000000036",
      "name": "Prepare Languages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6000,
        200
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1b2c3d4-0037-4000-8000-000000000037",
      "name": "Loop Languages",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        6200,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst es = item.es_article;\nconst prompt = `You are the editorial AI writer for Foronum. Generate a ${item.target_lang_name} version of this numismatic article.\n\nIMPORTANT: NOT a literal translation. Use ${item.target_lang_name} internal links provided. Include 2-4 internal links. Generate appropriate slug.\n\nREFERENCE (Spanish):\nTitle: ${es.title}\nBody: ${es.body_html}\n\nINTERNAL LINKS FOR ${item.target_lang.toUpperCase()}:\n${item.target_links}\n\nENTITIES: ${item.entities_json || '[]'}\n\nOUTPUT (strict JSON, no markdown):\n{\"title\":\"max 70 chars\",\"slug\":\"url-safe\",\"excerpt\":\"150-200 chars\",\"meta_description\":\"max 160 chars\",\"body_html\":\"valid HTML\",\"anchors_used\":[{\"text\":\"\",\"url\":\"\",\"entity_type\":\"\"}],\"featured_image_alt\":\"alt in ${item.target_lang_name}\"}`;\nreturn [{ json: { ...item, translation_prompt: prompt }}];"
      },
      "id": "a1b2c3d4-0038-4000-8000-000000000038",
      "name": "Build Translation Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6400,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"model\":\"gpt-4o\",\"messages\":[{\"role\":\"user\",\"content\":$json.translation_prompt}],\"response_format\":{\"type\":\"json_object\"},\"temperature\":0.7,\"max_tokens\":3000}) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0039-4000-8000-000000000039",
      "name": "Generate Translation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6600,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst prev = $('Build Translation Prompt').first().json;\nlet translation;\ntry { translation = JSON.parse(item.choices[0].message.content); }\ncatch(e) { translation = {title:'Error',slug:'error',excerpt:'',meta_description:'',body_html:'<p>Error</p>',anchors_used:[],featured_image_alt:''}; }\nreturn [{ json: { ...prev, current_translation: translation, current_lang: prev.target_lang }}];"
      },
      "id": "a1b2c3d4-0040-4000-8000-000000000040",
      "name": "Parse Translation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6800,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "function esc(val) {\n  if (val === null || val === undefined) return 'NULL';\n  return \"'\" + String(val).replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"\\\\'\") + \"'\";\n}\nconst item = $input.first().json;\nconst allTranslations = { es: item.es_article };\nconst parseOutputs = $('Parse Translation').all();\nfor (const o of parseOutputs) {\n  allTranslations[o.json.current_lang] = o.json.current_translation;\n}\n\nconst sourceText = (item.clean_text || '').toLowerCase();\nconst errors = [];\nlet worstOriginality = 100;\n\nfor (const lang of ['es','en','fr','de','it','pt']) {\n  const t = allTranslations[lang];\n  if (!t) { errors.push(lang + ': missing'); continue; }\n  if ((t.title || '').length > 70) errors.push(lang + ': title > 70 chars');\n  if ((t.meta_description || '').length > 160) errors.push(lang + ': meta > 160 chars');\n  const bodyText = (t.body_html || '').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n  const wordCount = bodyText.split(' ').length;\n  if (wordCount < 300) errors.push(lang + ': body ' + wordCount + ' words (min 300)');\n  const linkCount = (t.anchors_used || []).length;\n  if (linkCount < 2) errors.push(lang + ': ' + linkCount + ' links (min 2)');\n  if (linkCount > 4) errors.push(lang + ': ' + linkCount + ' links (max 4)');\n  if (lang === 'es') {\n    const srcWords = new Set(sourceText.split(/\\s+/).filter(w => w.length > 3));\n    const artWords = new Set(bodyText.toLowerCase().split(/\\s+/).filter(w => w.length > 3));\n    const inter = [...srcWords].filter(w => artWords.has(w)).length;\n    const union = new Set([...srcWords, ...artWords]).size;\n    const sim = union > 0 ? inter / union : 0;\n    worstOriginality = Math.round((1 - sim) * 100);\n    if (sim > 0.6) errors.push('es: too similar (' + Math.round(sim*100) + '%)');\n  }\n}\n\nconst isValid = errors.length === 0;\nconst validationNotes = errors.join('; ') || 'All OK';\n\nlet sql;\nif (isValid) {\n  sql = \"INSERT INTO fn_articles (news_id, source_news_url, status, validation_notes, originality_score, created_at) VALUES (\"\n    + item.id + \", \" + esc(item.url) + \", 'validated', \" + esc(validationNotes) + \", \" + worstOriginality + \", NOW())\";\n} else {\n  sql = \"INSERT INTO fn_articles (news_id, source_news_url, status, validation_notes, originality_score, created_at) VALUES (\"\n    + item.id + \", \" + esc(item.url) + \", 'failed', \" + esc(validationNotes) + \", \" + worstOriginality + \", NOW())\";\n}\n\nconst translationQueries = [];\nfor (const lang of ['es','en','fr','de','it','pt']) {\n  const t = allTranslations[lang] || {};\n  translationQueries.push(\n    \"INSERT INTO fn_article_translations (article_id, lang, title, slug, excerpt, meta_description, body_html, anchors_used_json, internal_link_count, featured_image_url, featured_image_alt, created_at) VALUES (\"\n    + \"LAST_INSERT_ID(), \"\n    + esc(lang) + \", \"\n    + esc(t.title || '') + \", \"\n    + esc(t.slug || '') + \", \"\n    + esc(t.excerpt || '') + \", \"\n    + esc(t.meta_description || '') + \", \"\n    + esc(t.body_html || '') + \", \"\n    + esc(JSON.stringify(t.anchors_used || [])) + \", \"\n    + (t.anchors_used || []).length + \", \"\n    + \"NULL, \"\n    + esc(t.featured_image_alt || t.featured_image_suggestion || '') + \", \"\n    + \"NOW())\"\n  );\n}\n\nconst newsStatus = isValid ? 'article_ready' : 'error';\nconst newsUpdate = \"UPDATE fn_news SET status = '\" + newsStatus + \"', updated_at = NOW() WHERE id = \" + item.id;\n\nreturn [{ json: {\n  ...item,\n  validation_passed: isValid,\n  article_insert_query: sql,\n  translation_queries: translationQueries,\n  news_update_query: newsUpdate\n}}];"
      },
      "id": "a1b2c3d4-0041-4000-8000-000000000041",
      "name": "Collect & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6400,
        500
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.article_insert_query }}"
      },
      "id": "a1b2c3d4-0042-4000-8000-000000000042",
      "name": "Insert Article",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        6600,
        500
      ],
      "credentials": {
        "mySql": {
          "id": "ayDTnm75zHVOkDH0",
          "name": "foronum_n8n"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst prev = $('Collect & Validate').first().json;\nreturn prev.translation_queries.map(q => ({ json: { sql_query: q }}));"
      },
      "id": "a1b2c3d4-0043-4000-8000-000000000043",
      "name": "Insert Translations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6800,
        500
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql_query }}"
      },
      "id": "a1b2c3d4-0044-4000-8000-000000000044",
      "name": "Execute Translation Insert",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        7000,
        500
      ],
      "credentials": {
        "mySql": {
          "id": "ayDTnm75zHVOkDH0",
          "name": "foronum_n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $('Collect & Validate').first().json.news_update_query }}"
      },
      "id": "a1b2c3d4-0045-4000-8000-000000000045",
      "name": "Update News Status",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        7200,
        500
      ],
      "credentials": {
        "mySql": {
          "id": "ayDTnm75zHVOkDH0",
          "name": "foronum_n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.*, n.url AS news_url FROM fn_articles a JOIN fn_news n ON a.news_id = n.id WHERE a.status = 'validated' LIMIT 3"
      },
      "id": "a1b2c3d4-0046-4000-8000-000000000046",
      "name": "Get Ready Articles",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        7400,
        300
      ],
      "credentials": {
        "mySql": {
          "id": "ayDTnm75zHVOkDH0",
          "name": "foronum_n8n"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-ready",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0047-4000-8000-000000000047",
      "name": "Has Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        7600,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1b2c3d4-0048-4000-8000-000000000048",
      "name": "Loop Publish",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        7800,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "function esc(val) {\n  if (val === null || val === undefined) return 'NULL';\n  return \"'\" + String(val).replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"\\\\'\") + \"'\";\n}\nconst j = $input.first().json;\nconst postInsert = \"INSERT INTO foronum_posts (type, status, author_id, source_url, created_at) VALUES ('news_article', 'published', 1, \" + esc(j.news_url || j.source_news_url) + \", NOW())\";\nconst statusUpdate = \"UPDATE fn_articles SET status = 'published', published_at = NOW(), updated_at = NOW() WHERE id = \" + j.id;\nconst newsUpdate = \"UPDATE fn_news SET status = 'published', updated_at = NOW() WHERE id = \" + j.news_id;\nreturn [{ json: { ...j, post_insert_query: postInsert, status_update_query: statusUpdate, news_update_query: newsUpdate }}];"
      },
      "id": "a1b2c3d4-0049-4000-8000-000000000049",
      "name": "Build Publish Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8000,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.post_insert_query }}"
      },
      "id": "a1b2c3d4-0050-4000-8000-000000000050",
      "name": "Publish to Foronum",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        8200,
        200
      ],
      "credentials": {
        "mySql": {
          "id": "ayDTnm75zHVOkDH0",
          "name": "foronum_n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.status_update_query }}"
      },
      "id": "a1b2c3d4-0051-4000-8000-000000000051",
      "name": "Mark Published",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        8400,
        200
      ],
      "credentials": {
        "mySql": {
          "id": "ayDTnm75zHVOkDH0",
          "name": "foronum_n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.news_update_query }}"
      },
      "id": "a1b2c3d4-0052-4000-8000-000000000052",
      "name": "Mark News Published",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        8600,
        200
      ],
      "credentials": {
        "mySql": {
          "id": "ayDTnm75zHVOkDH0",
          "name": "foronum_n8n"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const articles = $('Get Ready Articles').all();\nconst count = articles.length;\nlet body = '<h2>Pipeline Foronum ejecutado</h2>';\nbody += '<p>Articulos publicados: ' + count + '</p>';\nfor (const a of articles) {\n  body += '<p>- ' + (a.json.source_news_url || a.json.news_url || '') + '</p>';\n}\nbody += '<p><em>Generado automaticamente por n8n-foronum</em></p>';\nreturn [{ json: { email_subject: '[Foronum] Pipeline: ' + count + ' articulos', email_body: body }}];"
      },
      "id": "a1b2c3d4-0053-4000-8000-000000000053",
      "name": "Build Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8800,
        300
      ]
    },
    {
      "parameters": {
        "toEmail": "editorial@foronum.com",
        "subject": "={{ $json.email_subject }}",
        "emailType": "html",
        "html": "={{ $json.email_body }}",
        "options": {}
      },
      "id": "a1b2c3d4-0054-4000-8000-000000000054",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        9000,
        300
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO fn_pipeline_log (workflow_name, step, level, message, created_at) VALUES ('foronum_news_pipeline', 'complete', 'info', 'Pipeline execution completed', NOW())"
      },
      "id": "a1b2c3d4-0055-4000-8000-000000000055",
      "name": "Log Summary",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        9200,
        300
      ],
      "credentials": {
        "mySql": {
          "id": "ayDTnm75zHVOkDH0",
          "name": "foronum_n8n"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Foronum Catalog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Foronum Catalog": {
      "main": [
        [
          {
            "node": "Get Active Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Sources": {
      "main": [
        [
          {
            "node": "Loop Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Sources": {
      "main": [
        [
          {
            "node": "Get Discovered News",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Source Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Source Type": {
      "main": [
        [
          {
            "node": "Read RSS Feed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch HTML Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read RSS Feed": {
      "main": [
        [
          {
            "node": "Normalize RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize RSS": {
      "main": [
        [
          {
            "node": "Merge Discovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch HTML Page": {
      "main": [
        [
          {
            "node": "Extract HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract HTML": {
      "main": [
        [
          {
            "node": "Normalize HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize HTML": {
      "main": [
        [
          {
            "node": "Merge Discovery",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Discovery": {
      "main": [
        [
          {
            "node": "Build Insert Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Insert Queries": {
      "main": [
        [
          {
            "node": "Insert News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert News": {
      "main": [
        [
          {
            "node": "Update Source Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Source Time": {
      "main": [
        [
          {
            "node": "Loop Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Discovered News": {
      "main": [
        [
          {
            "node": "Has News?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has News?": {
      "main": [
        [
          {
            "node": "Loop News",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop News": {
      "main": [
        [
          {
            "node": "Get Enriched News",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Article Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Article Page": {
      "main": [
        [
          {
            "node": "Clean & Prepare LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean & Prepare LLM": {
      "main": [
        [
          {
            "node": "Store Raw HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call OpenAI Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI Classify": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "Score >= 40?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score >= 40?": {
      "main": [
        [
          {
            "node": "Build Link Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Reject Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reject Query": {
      "main": [
        [
          {
            "node": "Reject News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reject News": {
      "main": [
        [
          {
            "node": "Loop News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Link Query": {
      "main": [
        [
          {
            "node": "Find Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Links": {
      "main": [
        [
          {
            "node": "Build Enrich Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Enrich Query": {
      "main": [
        [
          {
            "node": "Enrich News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich News": {
      "main": [
        [
          {
            "node": "Loop News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Enriched News": {
      "main": [
        [
          {
            "node": "Has Enriched?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Enriched?": {
      "main": [
        [
          {
            "node": "Loop Articles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Articles": {
      "main": [
        [
          {
            "node": "Get Ready Articles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare ES Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare ES Prompt": {
      "main": [
        [
          {
            "node": "Generate ES Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate ES Article": {
      "main": [
        [
          {
            "node": "Parse ES Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse ES Article": {
      "main": [
        [
          {
            "node": "Prepare Languages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Languages": {
      "main": [
        [
          {
            "node": "Loop Languages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Languages": {
      "main": [
        [
          {
            "node": "Collect & Validate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Translation Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Translation Prompt": {
      "main": [
        [
          {
            "node": "Generate Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Translation": {
      "main": [
        [
          {
            "node": "Parse Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Translation": {
      "main": [
        [
          {
            "node": "Loop Languages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect & Validate": {
      "main": [
        [
          {
            "node": "Insert Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Article": {
      "main": [
        [
          {
            "node": "Insert Translations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Translations": {
      "main": [
        [
          {
            "node": "Execute Translation Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Translation Insert": {
      "main": [
        [
          {
            "node": "Update News Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update News Status": {
      "main": [
        [
          {
            "node": "Loop Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ready Articles": {
      "main": [
        [
          {
            "node": "Has Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Ready?": {
      "main": [
        [
          {
            "node": "Loop Publish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Publish": {
      "main": [
        [
          {
            "node": "Build Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Publish Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Publish Queries": {
      "main": [
        [
          {
            "node": "Publish to Foronum",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Foronum": {
      "main": [
        [
          {
            "node": "Mark Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Published": {
      "main": [
        [
          {
            "node": "Mark News Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark News Published": {
      "main": [
        [
          {
            "node": "Loop Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Log Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "foronum"
    },
    {
      "name": "pipeline"
    }
  ],
  "pinData": {},
  "versionId": "1"
}